*
!.gitignore
!README.adoc
!CHANGELOG.md
!dub.json
!source/
!source/**
!source/demo/
!source/demo/**
!docs/
!docs/**
!examples/
!examples/**
!.github/
!.github/**
!.github/workflows/
!.github/workflows/**
